name: Automated PR Reviewer

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  review_and_summarize:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install google-genai PyGithub semgrep requests

      - name: Run Semgrep
        run: |
          semgrep --config auto --json > semgrep_output.json || true
        env:
          SEMGREP_CONFIG: auto

      - name: Fetch PR Diff
        run: gh pr diff ${{ github.event.pull_request.number }} --patch > pr_diff.patch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate PR Summary & Metadata
        id: llm
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          SEMGREP_CONFIG: auto
        run: |
          OUTPUT=$(python llm.py pr_diff.patch semgrep_output.json)
          {
            echo "summary<<EOF"
            echo "$OUTPUT"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: Save Semgrep Metadata to Repo
        run: |
          mkdir -p semgrep_reports
          DATE=$(date +"%Y-%m-%d")
          cp analysis_output/semgrep_metadata.json "semgrep_reports/pr${{ github.event.pull_request.number }}_${DATE}.json"

      - name: Commit JSON to Repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Add Semgrep metadata for PR ${{ github.event.pull_request.number }}"
          file_pattern: "semgrep_reports/*.json"

      - name: Post PR Review Comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            ## Automated PR Review
            ${{ steps.llm.outputs.summary }}
